[submodule "my-components/UserProfileLayout"]
	path = my-components/UserProfileLayout
	url = https://github.com/JoseJuan81/UserProfileLayout
	branch = dev
[submodule "my-components/my-components/multiselect-dl"]
	path = my-components/my-components/multiselect-dl
	url = https://github.com/JoseJuan81/multiselect-dl
	branch = dev
